.container {
    margin-top: 32px;

    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        margin: 0;
        margin-bottom: 164px;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 64px;
        line-height: 75px;
        letter-spacing: 0.1em;
        color: var(--text-blue);
    }

    &__button {
        width: 345px;
        height: 43px;
        margin-bottom: 10px;
    }
}
