.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    min-width: 300px;
}

.title {
    text-align: center;
    width: 100%;
}

.button:hover {
    cursor: pointer;
}